:root {
    --primary-color: #1e90ff;
    --secondary-color: #ff6347;
    --background-color: white;
    --text-color: #333333;
    --font-main: sans-serif;
    --spacing: 16px;  
    --white: #ffffff;
    --dark: #222222;
}
body {
    margin: 0;
    font-family: var(--font-main);
    color: var(--text-color);            
}
body.light{
    background: white;
    color: #0c090f;
}
body.dark{
    background: #111;
    color: white;
}
#theme-toggle{
    padding: 5px 7px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: yellow;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: white;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.navbar-brand{
    font-size: 28px;
    font-weight: bold;
    color: #0d6efd;
}
.nav-link:hover{
    color: #250dfd;
    background-color: transparent;
}
.nav-link{
    border: 2px solid #0d6efd;
    color: white;
    font-size: 18px;
    margin: 0 10px;
    transition : 0.3s;
    border-radius: 8px;
    padding: 8px 15px;
}
/*======= DESKTOP =======*/
@media (min-width: 1200px){
    .navbar-nav{
        gap: 15px;
    }
    .nav-link{
        font-size: 18px;
        padding: 10px 18px;
    }
}
/*===== TABLETTE =====*/
@media (max-width: 768px){
    .navbar-nav{
        text-align: center;
        margin-top: 15px;
    }
    .nav-item{
        margin: 10px 0;
    }
    .navbar-collapse{
        background: white;
        padding: 15px;
        border-radius: 10px;
    }
    .nav-link{
        display: block;
        font-size: 17px;
    }
}
/*===== MOBILE =====*/
@media (max-width: 375px){
    .navbar{
        padding: 10px;
    }
    .navbar-brand{
        font-size: 20px;
    }
    .navbar-nav{
        text-align: center;
    }
    .nav-item{
        margin: 8px 0;
    }
    .nav-link{
        display: block;
        font-size: 15px;
        padding: 10px;
    }
    .navbar-collapse{
        background: white;
        padding: 12px;
        border-radius: 10px;
    }
}
button {
    background-color: var(--dark);
    color: #ffffff;
    margin-left: 5px;
    border-radius: 10px;
    padding: 4px;
    border: none;
}
button:hover {
    box-shadow: 0 0 10px #6c5ce7,
                0 0 20px #6c5ce7;
    transform: translateY(-3px);
    color: red;
    transition: 0.8s;            
}
/* Bouton retour */
.Boutons {
    height: 50px;
    width: 50px;
    background-color: crimson;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}


/*=== SECTIONS TEMOIGNAGES ET TARIFS ===*/
.section-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 10%;
    flex-wrap: wrap;
}
.card {
    background-color: #111;
    color: white;
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(108,92,231,0.5);
}
.card img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
 
    margin-left: auto;
    margin-right: auto;
}
.card h1 {
    font-size: 25px;
}
.role {
    font-size: 0.8rem;
    color: #6c5ce7;
}
.card p {
    font-size: 0.9rem;
    margin: 15px 0;
}
.stars {
    color: gold;
    font-size: 1.2rem;
}
/* Section hero */
.text {
    color: #ffffff;
}
.text-1 {
    color: #610cb7;
}
.p1 {
    color: #ffffff;
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    padding: 50px;
    gap : 40px
}
.hero-image{
    width: 50px;
    border-radius: 15px;
    align-items: center;
}
.btn{
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    border-radius: 10px;
    transition: 5s;
}
.btn:hover {
     box-shadow: 0 0 10px #6c5ce7,
                 0 0 20px  #6c5ce7;
     transform: translateY(-3px);  
     color: #ffffff;   
     transition: 0.8s;       
}
/* ASYMETRIQUE */
.starts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    border-radius: 20px 20px 0 0;
    flex-wrap: nowrap;    
}
.start-card {
    text-align: center;
    flex: 1;   
}
.counter {
    font-size: 40px;
    font-weight: 500;
    color: #6c5ce7;
}
.counter::before {
    content: "";
}
.start-card p {
    font-weight: bold;
    
    color: #ffffff;
}
.start-card span {
    font: 0.65rem;
    color: #ffffff;
}
/* SERVICES */
.ns {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
}
.services-container {
    color: deepskyblue;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50vh;
    background-color: #0f0a1a;
    margin-top: 20px;
}
.service-card {
    border-radius: 20px;
    width: 200px;
    max-width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 30px black;
    border: 1px solid rgba(255,255,255,0.3);
    background-color: transparent;
    color: #ffffff;
    height: 250px;
    overflow: hidden;
    text-align: center;
    padding: 10px 20px;
}
.service-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 40px black;
}
.icon-3 {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    margin: 0 auto;
}
.card-icon i{
    font-size: 40px;
    color: rgb(150, 7, 74);
}
.icon-1::before {
    color: #ffffff;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
}
.service-title {
    font-size: 16px;
    color: white;
    line-height: 1.5;
    margin-bottom: 25px;
}
.service-link {
    display: inline-block;
    color: #610cb7;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}
.service-link:hover {
    color: #667eea;
    transform: translateX(50px);
}
/*========= SECTION A PROPOS */
.pp {
    text-align: center;
    margin-top: 10px;
    font-family: "Orbitron", sans-serif;
}
.propos {
    color: #ffffff;
}
.propos p{
    text-align: center;
    font-size: 30px;
    font-family: "Orbitron", sans-serif;
}
/*Responsive Design */
@media (max-width: 768px) {
    .service-container {
        gap: 20px;
    }
    .service-card {
        padding: 30px 20px;
        max-width: 100%;
    }
    .service-title {
        font-size: 22px;
    }
    .service-description {
        font-size: 14px;
    }
}
/* =====Section footer ======*/
.footer {
    background: #360865;
    color: var(--white);
    padding: 50px 20px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: auto;
    gap: 40px;
}
.footer-b {
    flex: 1 1 250px;
    padding-left: 100px;
}
.footer-b p {
    margin-left: 20px;
    
}
.footer-b h4{
    font-family: "inter";
}
.footer-b h1 {
    font-size: 22px;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
    display: inline-block;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-b ul {
    list-style: none;
    padding: 0;
}
.footer-b a {
    text-decoration: none;
    color: var(--white);
}
.footer-b a:hover {
    color: #ff6347;
}
.social-icon {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}
.social-icon a i {
    color: #111;
    font-size: 30px;
}
.social-icon a:hover {
    background-color: #ffffff;
    transition: 3s;
}
.pied {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-top: 10px;
}
/*======= Formulaire ========*/
.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 20px;
    background-color: rgb(31, 5, 52);
}
option {
    color: red;
}
.error {
    color: red;
}
.form-box,
.info-box {
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.6);
    border: 2px solid rgba(255,255,255,0.5);
    box-shadow: 0 0 20px cyan;
}
.form-box h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 20px;
    color: #1e90ff;
}
input,
select,
textarea {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.1);
    color: #ffffff;
}
input:focus,
select:focus,
textarea:focus {
    border: 2px solid white;
    box-shadow: 0 0 5px white,
                0 0 10px white,
                0 0 20px white;
    background: rgba(255,255,255,0.15);
    transform: scale(1.02);
    transition: 3s;
}
input:focus::placeholder,
textarea:focus::placeholder {
    color: green;
}
textarea {
    height: 50px;
    resize: none;
}
.row {
    display: flex;
    gap: 10px;
}
.btn-9 {
    width: 100%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, purple, cyan);
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}
.btn-9:hover {
    transform: scale(1.05);
}
.success {
    margin-top: 10px;
    color: lawngreen;
    margin-left: 19%;
}
.info-box p,
.info-box h1 {
    margin: 10px 0;
    color: var(--white);
}
iframe {
    width: 390px;
    height: 250px;
    border-radius: 10px;
    margin-top: 40px;
}
/*=========TARIFS========*/
.tarifs {
    background-color: #0c090f;
}
h5 {
    text-align: center;
    margin-top: 40px;
    color: cyan;
    font-size: 30px;
}
.cardes-containers {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.popular {
    border: 2px solid aqua;
    transform: scale(1.08);
}
.badge {
    position: relative;
    top: -10px;
    right: 10px;
    background: #300634;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 70px;   
}
.price {
    font-size: 22px;
    margin: 10px 0;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 8px 0;
}
.check::before {
    content: "✅";
    color: green;
}
.cross::before {
    content: "❌";
}
.button-1 {
    margin-top: 15px;
    padding: 10px;
    background: #300634;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}
.button-1:hover {
    background: #12385e;
}
/*========== QUESTIONS/REPONSES========*/
.faq {
    width: 80%;
    margin-top: 10px;
    margin: auto;
}
.faq h1 {
    text-align: center;
    margin-top: 50px;
    color: cyan;
} 
.accordion-item {
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
}
.accordion-button {
    background-color: #ffffff;
    color: #111;
    font-weight: bold;
}
.accordion-button:not(.collapsed) {
    background-color: cyan;
    color: #111;
}
.accordion-body {
    background: #222;
    color: white;
    padding: 20px;
}
/*========== NOTRE HISTOIRE ==========*/
.castor {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://images.unsplash.com/photo-1542751371-adc38448a05e?q=80&w=1600&auto=format&fit=crop");
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background:  rgba(0,0,0,0.7);
}
.shadow {
    position: relative;
    z-index: 2;
}
.shadow p{
    font-family: "Advent Pro", sans-serif;
}
.shadow h6{
    font-size: 80px;
    color: var(--primary-color);
    font-family: "inter";
}
.shadow p{
    margin: 20px 0;
    font-size: 18px;
} 
.violet {
    background-color: rgb(5, 3, 12);
}
.equipe {
    color: rgb(113, 9, 136);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 25px;
}
.heros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 50px;
}
h6 {
    text-align: center;
    font-size: 40px;
    color: #1e90ff;
    margin-top: 20px;
    font-family: "inter";
}
.heros-text  cta, h2, p {
    color: #ffffff;
}
.heros-text p{
    font-family: "Nunito";
    font-size: 20px;
}
.heros-text h2, h3 {
    font-family: "Poppins";
    font-size: 40px;
    color: aliceblue;
}
.heros-text img {
    width: 100%;
    border-radius: 10px;
}
.imgs img {
    width: 550px;
    height: 350px;
    border-radius: 10px;
}
.team {
    padding: 50px;
    text-align: center;
}
.team h1, h2{
   font-size: 40px;
   color: dodgerblue;
   margin-bottom: 50px;
   font-family: "inter";
}
.teams {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.team-1 {
  background-color: #161616;
  padding: 12px 20px;
  border-radius: 20px;
}
.team-1 img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    height: 100px;
}
/* Valeurs */
.values {
    padding: 80px 10%;
    text-align: center;
}
.values h2, h1{
    font-size: 40px;
    color: #1e90ff;
    margin-bottom: 40px;
    font-family: "inter";
}
.valeur-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
}
.value {
    background: #111;
    padding: 40px;
    border-radius: 20px;
}
.value i{
    color: red;
    margin-bottom: 20px;
    font-size: 40px;
}
/* Compteurs */
.states {
    padding: 20px;
    text-align: center;
}
.states-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.stat {
    background-color: #0f0a1a;
    padding: 30px;
    font-size: 24px;
    text-align: center;
}
.stat span {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: gray;
}
.stat
.span {
    color: white;
}
/*==== Freelance ====*/
.sections-container{
    gap: 30px;
    padding: 60px 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.mb-4 {
    color:  #f8fafc;
    text-align: center;
}
.cardes{
    background: #111;
    color: white;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    width: 300px;
}
.card-img-top {
    width: 100%;
    height: 250px; 
    object-fit: cover;
}
.card-body{
    padding: 20px;
    text-align: center;
    line-height: 1;
}
.card-body h1{
    font-size: 15px;
    color: white
}
#count {
  color: white;
  font-size: 40px;
}
/* Bouton principal */
.btn-primary{
    background-color: black;
    border:none;
    padding:10px 20px;
    border-radius:10px;
}
.btn-primary:hover{
    background-color:#5a159f;
}
.btn-outline-primary{
    color:#f8fafc;
    border:2px solid #000000;
    padding:10px 20px;
    border-radius:20px;
    background-color: transparent;
}
.btn-outline-primary:hover{
    background-color:#610cb7;
    color:white;
}
.freelance-page {
    background: linear-gradient(135deg, #1a0033, #0f172a);
}


